body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: azure;
}

.container {
background-color: darkkhaki;
border-radius: 25px;
border :2rem;
width: 700px;
max-width: 90%;
padding : 2rem
}

.time {
    position: absolute;
    top : 2rem;
    font-size : 5rem;
    color: darkkhaki;
    font-weight: bold;
}

.text {
    margin-bottom: 2rem;
}

.textType {
    background-color: transparent;
    outline: none;
    width :100%;
    margin : auto;
    resize : none;
    height: 7rem;
}

.correct {
    color: greenyellow;
}

.incorrect {
    color: red;
}